@(name: String)
<html>
    <body>
        @if(name == "test") {
            @if(!TaskResult.succeess) {
                <h1 align="center" style="color: red">
                    测试任务还未完成
                </h1>
            } else {
                <h1 align="center" style="color: chartreuse">
                    测试任务完成
                </h1>

                <h2 >  测试任务结果: </h2>
                @TaskResult.result
            }
        }

        @if(name == "als") {
            @if(!AlsResult.success) {
                <h1 align="center" style="color: red">
                    ALS任务还未完成
                </h1>
            } else {
                <h1 align="center" style="color: chartreuse">
                    ALS任务完成
                </h1>

                <h2 align="center" style="color: dodgerblue">  ALS推荐结果地址: @AlsResult.result</h2>
            }
        }
        @if(name == "dt") {
            @if(!DTResult.success) {
                <h1 align="center" style="color: red">
                    决策树任务还未完成
                </h1>
            } else {
                <h1 align="center" style="color: chartreuse">
                    决策树任务完成
                </h1>

                <p align="center" style=" color: dodgerblue">
                    决策树模型结果精确度: @DTResult.precison
                    <br>
                    决策树模型保存地址: @DTResult.modelResult
                    <br>
                    决策树预测结果地址: @DTResult.predictResultPath
                </p>
            }
        }
    @if(name == "rf"){
        @if(!RFResult.success) {
            <h1 align="center" style="color: red">
                随机森林任务还未完成
            </h1>
        } else {
            <h1 align="center" style="color: chartreuse">
                随机森林任务完成
            </h1>

            <p align="center" style="color: dodgerblue">
                随机森林模型结果精确度: @RFResult.precison
                <br>
                随机森林模型保存地址: @RFResult.modelResult
                <br>
                随机森林预测结果地址: @RFResult.predictResultPath
            </p>
        }
    }

    @if(name == "svm"){
        @if(!SvmResult.success) {
            <h1 align="center" style="color: red">
                SVM任务还未完成
            </h1>
        } else {
            <h1 align="center" style="color: chartreuse">
                SVM任务完成
            </h1>

            <p align="center" style="color: dodgerblue">
                SVM模型auROC: @SvmResult.auROC
                <br>
                SVM模型保存地址: @SvmResult.modelResult
                <br>
                SVM预测结果地址: @SvmResult.predictResultPath
            </p>
        }
    }
    @if(name == "lr"){
        @if(!LRResult.success) {
            <h1 align="center" style="color: red">
                LR任务还未完成
            </h1>
        } else {
            <h1 align="center" style="color: chartreuse">
                LR任务完成
            </h1>

            <p align="center" style="color: dodgerblue">
                LR模型accurary: @LRResult.accuracy
                <br>
                LR模型保存地址: @LRResult.modelResult
                <br>
                LR预测结果地址: @LRResult.predictResultPath
            </p>
        }
    }

    <p align="center">
        <a href="@routes.TaskController.seeResult(name)">刷新结果!</a>
    </p>

    <p align="center">
        <a href="@routes.TaskController.task(name)">点击这里返回首页!</a>
    </p>
    </body>
</html>